<li>
  <section class="reagent-icon">
    <img class="reagent-icon-image" title="{{reagentName}}" 
         src={{imageUrl}} alt="this.src='images/reagent-icons/unavailable/imageNotFound400.png';">
    </img>
    <section id="add-or-remove-link-placeholder"><!-- placeholder for add/remove link --></section>
  </section>
</li>

g
