<section class="loginSection">
  <p class="error"><loginError/></p>

  <bind tag="postAction">/login_submit</bind>
  <bind tag="submitText">Login</bind>
  <bind tag="signupText">Sign Up</bind>
  <apply template="userform"/>

</section>


