<html>
  <head>
    <title>Potion Soap</title>
    <link rel="stylesheet" type="text/css" href="/reagent-icon.css">
  </head>
  <body>
    <div id="content">
      <apply-content/>
    </div>
  </body>
</html>
